<div class="container mx-auto my-12">
    <div class="divider"><span class="font-bold text-lg text-primary">Product details</span></div>
    <div class="flex flex-row justify-center p-2">

        <tui-carousel *ngIf="product.images" [draggable]="true"
            [itemsCount]="product.images.length>3?3:product.images.length" [(index)]="index">
            <ng-container *ngFor="let item of product.images; let i = index">
                <img *tuiItem alt="" draggable="false" [src]="'https://cdn2.sbazar.app/'+item"
                    class="item h-40 rounded-md shadow-md " [class.item_active]="i === index + 1" />
            </ng-container>
        </tui-carousel>
    </div>
    <div class="flex flex-row my-2">
        <app-brand-autocomplete class="flex-1 mx-1" (select)="brandAdd($event)"></app-brand-autocomplete>
        <app-category-autocomplete class="flex-1 mx-1" (select)="categoryAdd($event)"></app-category-autocomplete>
    </div>

    <div class="flex flex-row mt-2">
        <app-multi-text-input class="flex-1" [label]="'Name'" [(displayText)]="product.name">
        </app-multi-text-input>
    </div>
    <div class="flex flex-row mt-2">
        <app-multi-text-input class="flex-1" [label]="'Description'" [(displayText)]="product.description">
        </app-multi-text-input>
    </div>
    <input type="text" placeholder="Add product keywords separated by comma[,]" [(ngModel)]="keywords"
        class="input input-bordered w-full mt-2" />
    <div class="flex flex-row mt-2 items-center">
        <span>Product type</span><button *ngFor="let productType of productTypes"
            [ngClass]="productType.name==product.type? 'btn btn-primary mx-1 btn-sm':'btn btn-outline mx-1 btn-sm'"
            (click)="product.type=productType.name">{{productType.name}}</button>
    </div>
    <div class="flex flex-col mt-2">
        <div class="flex flex-row justify-center items-center my-1">
            <span class="flex-1">Product Images</span><button class="btn btn-primary btn-sm mx-2"
                (click)="addImage()"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg></button>
        </div>

        <div class="grid grid-cols-4 gap-2">
            <div class=" justify-center items-center my-1" *ngFor="let image of images;let i=index">
                <div class="flex flex-row items-center">
                    <input type="text" placeholder="Paste image id" [(ngModel)]="image.url"
                        (keyup)="updateProductImage()" class="input input-bordered flex-1" /><button
                        class="btn btn-primary btn-sm mx-2" (click)="removeImage(i)"><svg
                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg></button>
                </div>


            </div>
        </div>
        <div class="divider my-2"></div>
        <div class="flex flex-col">
            <span>Marketing info</span>
            <div class="flex flex-row">
                <ng-lottie class="h-60 w-auto" [options]="marketingAnimation()"></ng-lottie>
                <div class="flex flex-col items-center flex-1">
                    <input type="text" placeholder="marketing image id size[300*200 pixels]"
                        [(ngModel)]="product.marketingInfo.socialMediaImage"
                        class="input input-bordered w-full my-1 border-cyan-600" />
                    <input type="text" placeholder="marketing product title"
                        [(ngModel)]="product.marketingInfo.socialMediaTitle"
                        class="input input-bordered w-full my-1 border-cyan-600" />
                    <input type="text" placeholder="marketing product description in english"
                        [(ngModel)]="product.marketingInfo.socialMediaDescription"
                        class="input input-bordered w-full my-1 border-cyan-600" />
                </div>
            </div>
        </div>

    </div>
    <div class="flex flex-row justify-end mt-2">
        <tui-loader [showLoader]="isLoading">
            <button class="btn btn-primary" (click)="save()">Save</button>
        </tui-loader>
    </div>
</div>