<div class="container mx-auto">
    <div class="flex flex-col">

        <div class="divider"><span class="font-bold text-lg text-primary">Product deal</span></div>
        <div class="flex flex-row items-center justify-center">
            <div class="form-control mx-1">
                <label class="label">
                    <span class="label-text">Select deal type</span>
                </label>
                <select class="select select-bordered" [(ngModel)]="dealProduct.type">
                    <option disabled selected>Select</option>
                    <option *ngFor="let type of dealTypes" [value]='type'>{{type}}</option>
                </select>
            </div>
            <div class="form-control mx-1">
                <label class="label">
                    <span class="label-text">Deal Image</span>
                </label>
                <input class="input input-bordered w-64 mx-1" [(ngModel)]="dealProduct.imageId"
                    placeholder="paste deal image for app">
            </div>
        </div>
        <div class="flex flex-col my-2">
            <span class="text-gray-500 text-sm">Product summary</span>
            <span class="text-black text-lg ">{{productSummary.name.languageTexts[0].text}}</span>
            <div class="flex flex-row">
                <span class="font-bold text-green-600 mx-1">{{productSummary.varient.price.offerPrice}} €</span>
                <span class="font-bold text-gray-600 mx-1 line-through">{{productSummary.varient.price.actualPrice}}
                    €</span>
            </div>
        </div>

        <app-price-widget class="flex flex-col my-2" [(price)]="dealProduct.dealPrice"></app-price-widget>
        <app-cart-constraints-widget class="my-2" [(constraint)]="dealProduct.constraint"></app-cart-constraints-widget>
        <div class="flex flex-col my-2">
            <span class="text-gray-500 text-sm">Deal conditions</span>
            <div class="flex flex-row my-1 items-center">
                <span class="text-black mr-2">Deal days</span>
                <div class="flex-1">
                    <button *ngFor="let day of dealWeekDays"
                        (click)="selectedDealDays.includes(day.value)? selectedDealDays.splice(selectedDealDays.indexOf(day.value)) :selectedDealDays.push(day.value)"
                        [ngClass]="selectedDealDays.includes(day.value)?'btn btn-primary mx-1':' btn btn-outline mx-1'">{{day.name}}</button>
                </div>
            </div>
            <div class="divider"></div>
            <div class="flex flex-row my-1 items-center">
                <div class="flex-1  mx-2 flex flex-col">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text text-xs">Minimum Cart Amount</span>
                        </label>
                        <input type="number" [(ngModel)]="dealProduct.ruleConfig.minCartAmount"
                            class="input input-bordered " placeholder="type in euros">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text text-xs">Deal Start on date and time</span>
                        </label>
                        <input type="datetime-local" [(ngModel)]="dealProduct.ruleConfig.willStartAt"
                            class="input input-bordered " placeholder="type in DDMMYYYY">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text text-xs">Deal Expire on date and time</span>
                        </label>
                        <input type="datetime-local" [(ngModel)]="dealProduct.ruleConfig.willExpireAt"
                            class="input input-bordered " placeholder="type in DDMMYYYY">
                    </div>

                </div>
                <div class="flex flex-col flex-1">
                    <div class="form-control my-1">
                        <label class="cursor-pointer label">
                            <span class="label-text">Only for prime members</span>
                            <input type="checkbox" [(ngModel)]="dealProduct.ruleConfig.onlyForPrimeMember"
                                class="checkbox checkbox-primary" />
                        </label>
                    </div>
                    <div class="form-control my-1">
                        <label class="cursor-pointer label">
                            <span class="label-text">Only for gold members</span>
                            <input type="checkbox" [(ngModel)]="dealProduct.ruleConfig.onlyForGoldenMember"
                                class="checkbox checkbox-secondary" />
                        </label>
                    </div>
                    <div class="form-control my-1">
                        <label class="cursor-pointer label">
                            <span class="label-text">Only for silver members</span>
                            <input type="checkbox" [(ngModel)]="dealProduct.ruleConfig.onlyForSilverMember"
                                class="checkbox checkbox-accent" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="flex flex-row justify-end my-2">
                <button class="btn btn-primary mx-2" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>