@tailwind base;
@tailwind components;
@tailwind utilities;

.primeColorBg{
    background-color: #d91515fa;
}

.bottomBtn{
    position: fixed;
    bottom: 50px;
    right:50px;
}

/* You can add global styles to this file, and also import other style files */
